.customNavbar {
  padding-left: 1rem;
  padding-right: 1rem;
  position: sticky;
  top: 0;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.1);
  z-index: 100;
}
.navbarItems {
  display: grid;
  grid-template-columns: auto auto auto;
}
.navbarDropdown {
  display: flex;
  padding-top: 0.5rem;
}
